# grc4ciso enterprise
#access_limit_records_number/
#mgmtsystem*
#anita_form_callback/
#document*
#mana*
app_common/
app_odoo_customize/
attachment_zipped_download/
#grc_policy/
#backend_iframe/
chatgpt_hackdoo/
custom_grcbit/
grcbit_seller/
muk_web_theme/
grcbit_sod/
odoo_dynamic_dashboard/
#grcbit_zt/
#project_task_risk_management_odoo/
hackdoo_hide_menu/
#vista_backend_theme/
xdr_agents/
import_project/
is_chatgpt_integration/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Pycharm
.idea
*.pyc
*.iml
*orig
*.py~

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Sphinx documentation
docs/_build/

# Backup files
*~
*.swp

# Mac files
.DS_Store
