.anita-editor {

    .search_item {
        margin: 3px;

        .x2x_widget, .o_input {
            padding-right: 5px;
            line-height: 30px;
            height: 30px;
            border: 1px solid #e2e8f0;
            position: relative;
    
            box-shadow: 0 3px 5px #0000000b;
            border-radius: 0.5rem;
            border-width: 1px;
            display: flex;
            align-items: center;
    
            input {
                padding: 0.5rem 0.75rem;
                height: 28px;
                border: none;
            }
        }

        .search_operator, .search_label {
            margin-right: 5px;
        }

        .search_operator {
            min-width: 60px;
        }
    }

}