interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: GET
    uri: https://c04jr8u8y1-dsn.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/settings?getVersion=2
  response:
    body:
      string: '{"minWordSizefor1Typo":4,"minWordSizefor2Typos":8,"hitsPerPage":20,"maxValuesPerFacet":100,"version":2,"attributesToIndex":null,"numericAttributesToIndex":null,"attributesToRetrieve":null,"unretrievableAttributes":null,"optionalWords":null,"attributesForFaceting":["name"],"attributesToSnippet":null,"attributesToHighlight":null,"paginationLimitedTo":1000,"attributeForDistinct":null,"exactOnSingleWordQuery":"attribute","ranking":["typo","geo","words","filters","proximity","attribute","exact","custom"],"customRanking":null,"separatorsToIndex":"","removeWordsIfNoResults":"none","queryType":"prefixLast","highlightPreTag":"<em>","highlightPostTag":"</em>","snippetEllipsisText":"","alternativesAsExact":["ignorePlurals","singleWordSynonym"]}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
