interactions:
- request:
    body: '{"requests": [{"action": "deleteObject", "body": {"objectID": "IamAnObjectID"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: POST
    uri: https://c04jr8u8y1.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/batch
  response:
    body:
      string: '{"objectIDs":["IamAnObjectID"],"taskID":1068537409001}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
