interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: POST
    uri: https://c04jr8u8y1.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/clear
  response:
    body:
      string: '{"updatedAt":"2021-07-16T16:21:05.884Z","taskID":1068537439001}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"action": "updateObject", "body": {"objectID": "foo"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: POST
    uri: https://c04jr8u8y1.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/batch
  response:
    body:
      string: '{"objectIDs":["foo"],"taskID":1068537441001}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-Algolia-API-Key:
      - 4c043afe97c0c6681b20f9c06049fa65
      X-Algolia-Application-Id:
      - C04JR8U8Y1
    method: POST
    uri: https://c04jr8u8y1-dsn.algolia.net/1/indexes/demo_algolia_backend_res_partner_binding_fake_en_US/browse
  response:
    body:
      string: '{"hits":[{"objectID":"foo"}],"nbHits":1,"page":0,"nbPages":1,"hitsPerPage":1000,"processingTimeMS":0,"query":"","params":""}'
    headers:
      Content-Disposition:
      - inline; filename=a.txt
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
