<odoo>

    <data>
<!--        <menuitem name="BI Dashboards"-->
<!--                  id="bi_dashboard_connecter_menu_root"-->
<!--                  action="bi_dashboard_action_window"/>-->

<!--        <menuitem id="bi_dashboard_menu"-->
<!--                  name="BI Dashboard"-->
<!--                  parent="bi_dashboard_connecter_menu_root"-->
<!--                  action="bi_dashboard_action_window"-->
<!--                  sequence="0"/>-->
<!--        <menuitem id="bi_cred_menu"-->
<!--                  name="Settings"-->
<!--                  parent="bi_dashboard_connecter_menu_root"-->
<!--                  action="bi_cred_action_window"-->
<!--                  sequence="0"/>-->
    </data>
</odoo>