
.color_picker_group {

    .sp-preview {
        margin-right: 0px;
    }

    .sp-dd {
        display: none;
    }

    .sp-preview {
        width: 18px;
        height: 12px;
    }

    .sp-replacer {
        border-color: #dee2e6;
        &:hover {
            border-color: #dee2e6;
        }
    }

    .input-group-text {
        background-color: #363636;
        border: 1px solid #2c2424;
    }
}

.sp-container {
    border-color: #dee2e6;
}
